{:source-paths ["src"]
 :dependencies [[reagent "1.0.0-alpha2"]
                [applied-science/js-interop "0.2.7"]]
 :builds {:server {:target :node-script
                   :output-to "devserver.js"
                   :main rsstonews.server/main!
                   :release {:output-to "server.js"}
                   :devtools {:after-load rsstonews.server/reload!}}
          :app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:main {:init-fn rsstonews.ui/main!}}
                :devtools {:after-load rsstonews.ui/reload!
                           :watch-dir "public"}
                :release {:output-dir "build/js"}}}}

