{:source-paths ["src" "node_modules/sitefox/src"]
 :dependencies [[reagent "1.0.0-alpha2"]
                [applied-science/js-interop "0.2.7"]
                [funcool/promesa "6.0.2"]]
 :builds {:server {:target :node-script
                   :output-to "devserver.js"
                   :main twentiments.server/main!
                   :release {:output-to "server.js"}
                   :devtools {:after-load twentiments.server/reload!}}
          :app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:common {:entries []}
                          :main {:init-fn twentiments.ui/main!
                                 :depends-on #{:common}}
                          :admin {:init-fn twentiments.admin/main!
                                  :depends-on #{:common}}
                          :read {:init-fn twentiments.read/main!
                                   :depends-on #{:common}}}
                :devtools {:watch-dir "public"}
                :release {:output-dir "build/js"}}}}

